---
---

@import "{{ site.theme }}";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.credits {
  font-size: 14px !important;
}

.wrapper {
  max-width: 720px !important;
}

#portfolio {
  display: none;
}

section {
  max-width: 720px !important;
}

h4 {
  text-decoration: underline !important;
}

.mfp-video {
  position: relative;
  max-width: 70%;
  margin: auto;
}

.mfp-video video {
  position: relative;
  width:auto;
  max-width: 100%;
  margin: 40px auto;
}

.mfp-video .mfp-close {
  color: #FFF !important;
}

#ocean img {
  max-width: 49% !important;
}

#ocean-wireframe img {
  max-width: 49% !important;
}
