---
---

@import "{{ site.theme }}";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.credits {
  font-size: 14px !important;
}

.wrapper {
  max-width: 720px !important;
}

section {
  max-width: 720px !important;
}
