---
---

@import "{{ site.theme }}";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.credits {
  font-size: 14px !important;
}

.wrapper {
  max-width: 720px !important;
}

section {
  max-width: 720px !important;
}

.mfp-video {
  position: relative;
  max-width: 70%;
  margin: auto;
}

.mfp-video video {
  position: relative;
  width:auto;
  max-width: 80%;
  margin: 40px auto;
}
